<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>505</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="text-center" style="padding-top: 100px;padding-bottom: 200px">
    <div class="container bg-danger" style="height: 400px;width: 600px" >
        <h2>服务器繁忙,请重试</h2>
    </div>
</div>
</body>
</html>